<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/edit/<%= blog.id %>" method="POST" class="row g-3">
  <input type="text" name="name" value="<%= blog.name %>" class="form-control" required>
  <input type="text" name="author" value="<%= blog.author %>" class="form-control" required>
  <input type="text" name="date" value="<%= blog.date %>" class="form-control" required>
  <button type="submit" class="btn btn-success">Update Blog</button>
</form>

</body>
</html>